<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a href="login.html">login</a>
	<form method="post" action="https://www.googleapis.com/oauth2/v4/token" enctype="application/x-www-form-urlencoded">
		code : <input type="text" name="code" value="{{code}}"><br>
		client : <input type="text" name="client_id" value="959804155218-fvlm1pl5or024boukgi6pd1hn5pdgpid.apps.googleusercontent.com"><br>
		client_secret : <input type="text" name="client_secret" value="lt7PpB2SOppCGhp4B5qpwZyi"><br>
		redirect_uri : <input type="text" name="redirect_uri" value="http://localhost:8888/receiveCode"><br>
		grant_type : <input type="text" name="grant_type" value="authorization_code"><br>
		<input type="submit" name="submit" value="submit">
	</form>
		
</body>
</html>