<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<form method="post" action="https://www.googleapis.com/oauth2/v4/token" enctype="application/x-www-form-urlencoded">
		client_id : <input name="client_id" value="client_id" type="text"><br>
		client_secret : <input type="text" name="client_secret" value="client_secret"><br>
		refresh_token : <input type="text" name="refresh_token" value="refresh_token"><br>
		grant_type : <input type="text" name="grant_type" value="refresh_token"><br>
		<input type="submit" name="submit" value="submit">
	</form>
</body>
</html>